.shoppingPageContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
}

@media all and (max-width: 720px) {
    .shoppingPageContainer {
        display: flex;
        flex-direction: column;
    }
}

.products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
