.productsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.productItem {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    transition: .3s ease-in-out;
}

.productItem:hover {
    transform: scale(1.025);
}

.productItemImg {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 260px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.productInfo {
    flex: 1;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.productTitle {
    font-weight: 300;
    font-size: 1.5rem;
}
.productPrice {
    margin: 0;
    font-size: 0.75rem;
}
.buyBtn {

}
